## Guess Game

In [1]:
from random import randint
from IPython.display import clear_output

In [13]:
guessed_number = randint(0,100)
guesses = 0
while not False:
    ans = input("Guess a number between 0 and 100!")
    guesses += 1
    clear_output()
    if int(ans)== guessed_number:
        print("Yay!, Your guess is right.")
        print("It took you {} guesses to get my guess right!".format(guesses))
        break
    elif int(ans) > guessed_number:
        print("The number you guessed is {} more than my guessed number!".format(int(ans) - guessed_number))
    elif int(ans) < guessed_number:
        print("The number you guessed is {} less than my guessed number!".format(guessed_number - int(ans)))

Yay!, Your guess is right.
It took you 2 guesses to get my guess right!

In [15]:
print(False)

False

In [27]:
name = "emmAnuel mEnsah"
print(name.title())

Emmanuel Mensah

In [2]:
query_strings = "https://finance.yahoo.com/quote/%5EDJI/history?period1=946684800&period2=1647129600&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true"

In [3]:
import pandas as pd

In [6]:
import yfinance as yf

In [8]:
df = yf.download("DJI")

[*********************100%***********************]  1 of 1 completed

In [11]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-24,33223.800781,33223.800781,33223.800781,33223.800781,33223.800781,0
2022-02-25,34058.800781,34058.800781,34058.800781,34058.800781,34058.800781,0
2022-02-28,33892.601562,33892.601562,33892.601562,33892.601562,33892.601562,0
2022-03-01,33294.898438,33294.898438,33294.898438,33294.898438,33294.898438,0
2022-03-02,33891.300781,33891.300781,33891.300781,33891.300781,33891.300781,0